.bottom_section{ 
    display: flex;
  }
  
  .filter {
    flex:1; 
  }
  
  .projects {
    flex: 2; /* Occupy two-thirds of the space */
    display: flex;
    justify-content: space-between; /* Space the project boxes evenly */
  }
  